* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, "微软雅黑";
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: .9rem;
  background: #007BE3;
  text-align: center;
  line-height: .9rem;
  font-size: 18px;
  color: #fff;
}
.header .logo {
  height: 80%;
  vertical-align: middle;
}
.banner {
  width: 100%;
  height: auto;
}
.banner .swiper-slide {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main {
  width: 100%;
  height: auto;
  padding: .3rem .24rem .2rem;
  background: #F5F6FA;
  overflow: hidden;
}
.main .mianbao {
  line-height: 0px;
}
.main .mianbao .shouye,
.main .mianbao .lujing {
  font-size: 12px;
  color: #494747;
}
.main .mianbao .jian {
  height: 12px;
}
.cent1 {
  padding: .18rem .24rem .28rem;
  background: #fff;
  overflow: hidden;
  color: #494747;
  margin-bottom: 1px;
  margin-top: .2rem;
}
.cent1 .box {
  position: relative;
  overflow: hidden;
  height: 2.22rem;
  display: block;
}
.cent1 .box .line {
  width: 1.93rem;
  height: 1.45rem;
  box-sizing: border-box;
  border: 1px solid #01B5FF;
  position: absolute;
  left: .1rem;
  top: .45rem;
}
.cent1 .box .line div {
  height: 4px;
  width: 4px;
  background: #01B5FF;
  position: absolute;
  border-radius: 50%;
}
.cent1 .box .line div:nth-of-type(1) {
  top: -2px;
  left: -2px;
}
.cent1 .box .line div:nth-of-type(2) {
  top: -2px;
  right: -2px;
}
.cent1 .box .line div:nth-of-type(3) {
  bottom: -2px;
  right: -2px;
}
.cent1 .box h3 {
  color: #000;
  font-size: 14px;
  margin: 0;
  margin-bottom: .26rem;
  padding: 0;
}
.cent1 .box img {
  width: 1.93rem;
  height: 1.45rem;
  position: relative;
  display: block;
  float: left;
  z-index: 1;
  margin-right: .4rem;
}
.cent1 .box p {
  color: #494747;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: .36rem;
}
.cent1 .box p:nth-of-type(1) {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.cent1 .box p:nth-of-type(2) {
  white-space: nowrap;
}
.cent1 .num {
  padding: .15rem 0;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
  margin-top: .19rem;
  overflow: hidden;
  text-align: justify;
  font-size: 0;
}
.cent1 .num .numCent {
  font-size: 12px;
  overflow: hidden;
  display: inline-block;
}
.cent1 .num .numCent img {
  width: .3rem;
  float: left;
  margin-right: .1rem;
}
.cent1 .num .numCent span {
  float: left;
}
.cent1 .num:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.tiaozhuan {
  width: 100%;
  height: .7rem;
  padding: .18rem .2rem 0;
  font-size: 0;
}
.tiaozhuan a {
  float: left;
  padding: 0 .07rem;
}
.tiaozhuan a .pre,
.tiaozhuan a .next {
  width: .58rem;
}
.tiaozhuan a .num {
  width: .32rem;
}
.tiaozhuan p {
  float: right;
  font-size: .16rem;
}
.tiaozhuan p input {
  border: 1px double #E5E5E5;
  width: .56rem;
  height: .3rem;
  border-radius: .1rem;
  margin: 0 .05rem;
}
.footer {
  width: 100%;
  height: 1rem;
  background: #F5F6FA;
  padding-top: .1rem;
}
.footer .about {
  color: #666666;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
